header {
  display: flex;
  justify-content: space-between;
  margin: 0em 5%;
}
#scrList{
  display: none;
  position: absolute;
  margin-left: 50px;
  font-size: large;
  float: left;
}
.intro {
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  max-width: 35rem;
}
.startBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30px;
  font-size: large;
  background-color: darkslateblue;
  color: rgb(231, 224, 216);
}
.imp {
  color: darkred;
}
.quizArea{
  display: none;
  margin: 8% auto;
  flex-direction: column;
  justify-content: space-around;
  max-width: 35rem;
}
.quizBtn{
  margin-top: 5px;
  padding: 3px 0;
  max-width: 30%;
  background-color: darkslateblue;
  color: rgb(231, 224, 216);
}
.quizFinish{
  display: none;
  margin: 8% auto;
  flex-direction: column;
  justify-content: space-around;
  max-width: 35rem;
}
#init{
  max-width: 10%;
  height: 5%;
  font-size: large;
}
#save{
  margin-top: 5px;
  width: 30%;
  height: 30px;
  font-size: large;
  background-color: darkslateblue;
  color: rgb(231, 224, 216);
}